SUI_PRIVATE_KEY=<YOUR SUI CLIENT PRIVATE KEY started with suiprivkey>
EVM_PRIVATE_KEY=<YOUR EVM PRIVATE KEY>
ETHEREUM_SEPOLIA_RPC_URL=<YOUR ETHEREUM SEPOLIA RPC URL>
ARBITRUM_SEPOLIA_RPC_URL=<YOUR ARBITRUM SEPOLIA RPC URL>
BASE_SEPOLIA_RPC_URL=<YOUR BASE SEPOLIA RPC URL>
BNB_CHAIN_TESTNET_RPC_URL=<YOUR BNB CHAIN TESTNET RPC URL>
OP_SEPOLIA_RPC_URL=<YOUR OP SEPOLIA RPC URL>
POLYGON_AMOY_RPC_URL=<YOUR POLYGON AMOY RPC URL>    
JOVAY_SEPOLIA_RPC_URL=<YOUR JOVAY SEPOLIA RPC URL>